<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center">
      <input type="text" data-test-id="app-input-name" [(ngModel)]="item.name" required placeholder="Name" />
      <input type="text" data-test-id="app-input-genre" [(ngModel)]="item.genre"  required placeholder="Genre" />
      <input type="text" data-test-id="app-input-creator" [(ngModel)]="item.creator" required placeholder="Creator" />
      <form>
        <label><input class="radioButton" [(ngModel)]="item.type" data-test-id="app-input-book-type" type="radio" name="type" value="Book">Book</label>
        <label><input class="radioButton" [(ngModel)]="item.type" data-test-id="app-input-song-type" type="radio" name="type" value="Song">Song</label>
      </form>
      <input  *ngIf="item.type === 'Song' " [(ngModel)]="item.totalTime"  data-test-id="app-input-time" type="number" placeholder="Total Time" />
  </section>
  <section class="layout-row justify-content-center align-items-center">
      <button data-test-id="add-button" (click)="addItem()" class="w-30">Add</button>
  </section>
</div>
